.panel-arrow {
    font-size: 24px;
    padding: 60px 0;
    bottom: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.panel-container {
    height: 100vh;
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding: 0 200px;
}

.panel-left {
    margin: auto 0 36px;
}