.panel-container {
    height: 100vh;
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0 200px;
}

.panel-left {
    margin: auto 0 60px;
}

.panel-header {
    font-size: 20px;
}

.panel-body {
    font-size: 40px;
}

.panel-link {
    font-size: 20px;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 1s;
}

.panel-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    opacity: 1;
    transition: opacity 1s;
}

.panel-arrow {
    font-size: 24px;
    padding: 30px 0;
    bottom: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}