.navbar-container {
    display: flex;
    padding: 36px 0;
    position: absolute;
    left: 200px;
    right: 200px;
    top: 0;
}

.navbar-right {
    display: flex;
    gap: 60px;
    margin-left: auto;
}