.navbar-container {
    display: flex;
}

.navbar-link {
    color: #ffffff;
    font-size: 24px;
    opacity: 0.4;
    padding: 0 20px;
    text-decoration: none;
    transition: opacity 1s;
}

.navbar-link:hover {
    transition: opacity 1s;
    opacity: 1;
}

.navbar-right {
    display: flex;
    margin-left: auto;
}
