.navbar-container {
    display: flex;
    padding: 60px 0;
    position: absolute;
    left: 200px;
    right: 200px;
    top: 0;
}

.navbar-link {
    font-size: 24px;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 1s;
}

.navbar-link:hover {
    transition: opacity 1s;
    opacity: 1;
}

.navbar-right {
    display: flex;
    margin-left: auto;
    gap: 60px;
}