.bio-grid{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
}

.bio-heading {
    margin-top: 0;
}

.bio-img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bio-img-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}