.spotify-container {
    font-size: 24px;
    padding: 60px 0;
    position: absolute;
    left: 200px;
    right: 200px;
    bottom: 0;
}

.spotify-span {
    color: #ffffff;
    padding-left: 10px;
}

.spotify-current {
    opacity: 0.4;
    transition: opacity 1s;
}

.spotify-current:hover {
    opacity: 1;
    transition: opacity 1s;
    text-decoration: underline;
    cursor: pointer;
}