.spotify-container {
    font-size: 24px;
    padding: 0 20px;
}

.spotify-span {
    color: #ffffff;
    padding-left: 10px;
}

.spotify-current {
    opacity: 0.4;
    transition: opacity 1s;
}

.spotify-current:hover {
    opacity: 1;
    transition: opacity 1s;
    text-decoration: underline;
}