.spotify-container {
    font-size: 24px;
    padding: 60px 0;
    position: absolute;
    left: 200px;
    bottom: 0;
    align-items: center;
    display: flex;
}

.spotify-span {
    color: #ffffff;
    padding-left: 10px;
}

.spotify-current {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    opacity: 0.4;
    transition: opacity 1s, border-bottom 1s;
    text-decoration: none;
}

.spotify-current:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s, border-bottom 1s;
}