.clients-clients {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.clients-img {
    height: 130px;
    width: 130px;
}

.clients-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}