.clients-clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;  
    justify-content: center;
}

.clients-img {
    height: 130px;
    width: 130px;
}

.clients-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}