.clients-clients {
    animation: fadeOut 10s infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clients-img {
    height: 130px;
    width: 130px;
}

.clients-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-clients-second {
    animation: fadeIn 10s infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    opacity: 0;
}

@keyframes fadeIn {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}

@keyframes fadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}