.study-arrow {
    align-items: center;
    display: flex;
    height: 120px;
    margin-left: 100%;
}

.study-capitalize {
    text-transform: capitalize;
}

.study-card-view{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 120px;
}

.study-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: -webkit-fill-available;
}

.study-content {
    margin: auto;
    width: -webkit-fill-available;
}

.study-div {
    flex-direction: column;
    display: flex;
    height: -webkit-fill-available;
}

.study-img {
    border-radius: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.study-img-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding-top: calc(59/96 * 100%);
    position: relative;
    width: 100%;
}