.study-container {
    height: 100vh;
}

.study-div {
    padding: 0 200px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.study-content {
    width: -webkit-fill-available;
    margin: auto;
}

.study-summary {
    font-size: 32px;
}

.study-space-between {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.img-div {
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.study-capitalize {
    text-transform: capitalize;
}

.study-card-view{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}