.study-container {
    height: 100vh;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

.study-div {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.study-content {
    width: -webkit-fill-available;
    margin: auto;
}

.study-space-between {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.img-div {
    height: 557px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.study-capitalize {
    text-transform: capitalize;
}

.study-card-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.panel-arrow {
    height: 120px;
    margin-left: auto;
    display: flex;
    align-items: center;
}