.awards-awards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;  
}

.awards-img {
    height: 130px;
    width: 130px;
}

.awards-img-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.awards-p{
    font-size: 16px;
}