.home-container {
    height: 100vh;
}

.home-div {
    padding: 60px 200px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.home-content {
    width: -webkit-fill-available;
    margin: auto;
}

.home-text {
    font-size: 40px;
    color: #fff;
    padding: 20px;
}

.home-link {
    color: #ffffff;
    opacity: 40%;
    text-decoration: none;
}

.home-link:hover {
    opacity: 1;
}
