.container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 60px 0;
    font-size: 24px;
}

.filters {
    margin: 80px 0;
}

.cardview {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}