.links-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    height: 100vh;
    justify-content: center;
}

.links-icon {
    color: #ffffff;
    margin: 7.5px 0;
    opacity: 40%;
}

.links-icon:hover {
    cursor: pointer;
    opacity: 1;
}