.container {
    height: 100vh;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textcontainer {
    width: 50vw;
    padding-left: 100px;
    color: white;
}

.imgcontainer {
    width: 50vw;
}

.header {
    font-size: 20px;
}

.body {
    font-size: 40px;
}

.link {
    font-size: 20px;
}