.container {
    height: 100vh;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textcontainer {
    width: 50vw;
    color: white;
    margin: auto 0 100px 200px;
}

.imgcontainer {
    width: 50vw;
}

.header {
    font-size: 20px;
}

.body {
    font-size: 40px;
}

.link {
    font-size: 20px;
    opacity: 40%;
    transition: opacity 1s;
}

.link:hover {
    cursor: pointer;
    font-size: 20px;
    opacity: 1;
    transition: opacity 1s;
}