.testimonials-header {
    color: #ffffff;
    font-size: 24px;
}

.testimonials-content {
    color: #ffffff;
    font-size: 32px;
}

.testimonials-footer {
    color: #ffffff;
    opacity: 0.4;
    font-size: 16px;
}