.icon {
    font-size: 10px;
    margin: 0 12px;
}

.testimonials-container {
    display: flex;
    align-items: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 10fr 2fr;
}