.clients-container {
    position: relative;
}

.clients-clients {
    animation: fadeOut 9s infinite;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}

.clients-clients-second {
    animation: fadeIn 9s infinite;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    left: 0;
    opacity: 0;
    position: absolute;
    row-gap: 10px;
    top: 0;
}

.clients-img {
    height: 100%;
    width: 100%;
}

.clients-img-container {
    height: 180px;
}

@keyframes fadeIn {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}

@keyframes fadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}