.whatido-grid-two {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
}

.whatido-grid-three {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
}

.whatido-added-margin {
    margin-bottom: 50px;
}