.home-container {
    height: 100vh;
}

.home-div {
    padding: 0 200px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.home-content {
    width: -webkit-fill-available;
    margin: auto;
}

.home-text {
    font-size: 40px;
}

.home-link {
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 1s;
}

.home-link:hover {
    border-bottom: 3px solid #fff;
    opacity: 1;
    transition: opacity 1s;
}

.home-arrow {
    font-size: 24px;
    padding: 60px 0;
    position: absolute;
    right: 200px;
    bottom: 0;
    height: 55px;
}