.home-container {
    height: 100vh;
}

.home-div {
    padding: 0 200px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.home-content {
    width: -webkit-fill-available;
    margin: auto;
}

.home-text {
    font-size: 40px;
    color: #fff;
}

.home-link {
    color: #ffffff;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 1s;
}

.home-link:hover {
    opacity: 1;
    text-decoration: underline;
    transition: opacity 1s;
}
