.home-arrow {
    margin-left: auto;
}

.home-banner {
    height: 100vh
}

.home-container {
    height: 100vh;
}

.home-content {
    margin: auto;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-panel-bottom {
    display: flex;
    height: 120px;
    align-items: center;
}

.home-panel-text {
    margin: auto 0;
}

.home-visibility-hidden {
    visibility: hidden;
}

.mouse-over-image {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    width: 550.2px;
}