.panel-arrow {
    margin: 26.6px 0 26.6px auto;
}

.panel-container {
    align-items: flex-end;    
    background: rgb(19, 103, 111);
    color: #FFFFFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.panel-left-slogan {
    max-width: 589px;
}

.panel-mouseover {
    align-items: flex-start !important;
    display: flex;
    height: calc(100% - 120px);
    justify-content: flex-end;
    margin: 60px 48px 60px 0;
    width: calc(100% - 424px) !important;
}