.tools-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tools-img {
    height: 150px;
    width: 150px;
    opacity: 1;
    transition: opacity 1s;
    z-index: 1;
}

.tools-img:hover{
    opacity: 0;
    transition: opacity 1s;
    
}

.tools-img:hover + .tools-img-text{
    opacity: 1;
    transition: opacity 1s;
    
}

.tools-img-text{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    text-decoration: underline;
}

.tools-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}