.tools-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tools-img {
    height: 150px;
    width: 150px;
}

.tools-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}