.footer-arrow {
    position: absolute;
    right: -10px;
    top: 140px;
}

.footer-border {
    border-top: 1px solid;
    opacity: 0.1;
}

.footer-container {
    padding: 120px 0 60px 0;
    position: relative;
    width: -webkit-fill-available;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}

.footer-theme {
    bottom: 86.6px;
    position: absolute;
    right: -10px;
}