.footer-arrow {
    position: absolute;
    right: -10px;
    top: 140px;
}

.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.footer-outer-container {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 120px 0 60px 0;
    position: relative;
    width: -webkit-fill-available;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}