.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-outerdiv {
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .4);
    display: flex;
    width: -webkit-fill-available;
    padding: 75px 0;
}

.footer-grid {
    display: grid;
    grid-gap: 25px 125px;
    grid-template-columns: auto auto;
    padding: 50px 0;
}

.footer-a {
    color: #ffffff;
    opacity: 0.4;
    text-decoration: none;
    font-size: 20px;
}

.footer-a:hover {
    opacity: 0.1;
}

.footer-p {
    color: #ffffff;
    font-size: 24px;
}

.footer-small {
    font-size: 16px !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}