.card-dark:hover {
    background: #000000 !important;
}
  
.card-light:hover {
    background: #FFFFFF !important;
}

.card {
    align-items: center;
    border-radius: 12px;
    color: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: calc(59/96 * 100%);
    position: relative;
    transition: background 1s, color 1s;
}

.card-container {
    opacity: 1;
}

.card:hover {
    color: inherit ;
    transition: background 1s, color 1s;
}

.card:hover > .card-inner > .card-image {
    opacity: 0;
    transition: opacity 1s;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    left: 0;
    padding: 40px;
    position: absolute;
    top: 0;
}

.card-image {
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
}

.card-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-study-industry{
    opacity: 0.8;
    margin: 0;
    margin-bottom: 12px;
}

.card-study-link{
    margin: auto 0 0 0;
}

.card-study-summary{
    opacity: 0.8;
}

.card-study-title{
    margin: -10px 0 12px 0;
}

.card-view-case {
    border-bottom: 2px solid transparent; /* here */
    transition: opacity 1s, border-bottom 1s;
}

.card-view-case:hover {
    border-bottom: 2px solid; /* here */
    transition: opacity 1s, border-bottom 1s;
}