.card {
    height: 330px;
    border-radius: 12px;
    transition: background 1s, color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0) ;
    position: relative;
}

.card:hover {
    background: #ffffff !important;
    color: rgba(0, 0, 0, 1) ;
    transition: background 1s, color 1s;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

.card-view-case {
    border-bottom: 2px solid rgba(0, 0, 0, 0); /* here */
    transition: opacity 1s, border-bottom 1s;
}

.card-view-case:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1); /* here */
    transition: opacity 1s, border-bottom 1s;
}

.card-link {
    opacity: 1;
}

.card-study-title{
    margin: 0 0 12px 0
}

.card-study-industry{
    opacity: 0.8;
    margin: 0
}

.card-study-summary{
    opacity: 0.8
}

.card-study-link{
    margin: auto 0 0 0
}

.card-image {
    height: 100%
}