.card {
    flex: 1 0 45%;
    height: 330px;
    border-radius: 12px;
    transition: background 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background: #ffffff !important;
    cursor: pointer;
    transition: background 1s;
}