.div {
    display: flex;
    padding: 60px 0;
    gap: 30px;
}

.div > p {
    margin: 0;
    font-size: 20px;
}

.div > a {
    opacity: 0.4;
    transition: opacity 1s;
    cursor: pointer;
    font-size: 20px;
}

.div > a:hover {
    opacity: 1;
    transition: opacity 1s;
}

.cardview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}