.div {
    display: flex;
    padding: 60px 0;
    gap: 30px;
}

.div > p {
    margin: 0;
    font-size: 20px;
}

.div > a {
    opacity: 0.4;
    transition: opacity 1s;
    cursor: pointer;
    font-size: 20px;
}

.div > a:hover {
    opacity: 1;
    transition: opacity 1s;
}

.card-view {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
}

.card-view-filter {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 40px;
    padding-bottom: 100px;
}

.card-view-filter-apply {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 60px;
}