.container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 75px 0;
    font-size: 24px;
}

.filters {
    margin: 0 0 80px 0;
    font-size: large;
    opacity: 0.4;
}

.cardview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}